* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  background-color: antiquewhite;
  /* position: fixed;
user-select: none; */
}

footer p {
  justify-content: center;
  align-items: center;
  bottom: 50px;
}
/* navbar */

nav {
  display: flex;
  background-color: rgb(231, 159, 24);
  text-shadow: 0 2px 2px rgb(139, 56, 17);
  justify-content: space-around;
  height: 50px;
  align-items: center;
  z-index: 100;
}

nav ul {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-between;
  font-family: "Play", sans-serif;
  font-size: 1rem;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 0.8em;
}

/* hamburger menu */
.logo {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  text-shadow: 0 2px 2px rgb(46, 45, 45);
  font-family: "Play", sans-serif;
}

.menu-toogle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}

.menu-toogle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 99;
}

.menu-toogle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(34, 30, 24);
  border-radius: 3px;
  transition: all 0.5s;
}

/* HAmburger menu Animation */

.menu-toogle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toogle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toogle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toogle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toogle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* text box */
.textbox {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* padding: 0 30px; */
  z-index: 0;
}

.textbox .text-box {
  height: 380px;
  max-width: 100%;
  width: 100%;
  margin: 55px 42px;
}

.textbox .text-box .judul {
  font-size: 2rem;
  font-weight: 600;
  color: brown;
  margin: 4px;
  text-align: center;
}

.textbox .text-box textarea {
  height: 65vh;
  width: 100%;
  padding: 6px;
  font-size: 12px;
  font-weight: 100;
  outline: none;
  border: 1px solid rgb(231, 159, 24);
  border-radius: 8px;
  background-color: rgb(241, 236, 229);
  user-select: none;
}
.textbox textarea::-webkit-scrollbar {
  display: none;
}

.textbox .text-box button {
  height: 45px;
  width: 155px;
  color: rgb(255, 0, 0);
  background-color: rgb(238, 163, 51);
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 400;
  margin: 8px 0;
  cursor: pointer;
  transition: all 0.5s ease;
  justify-content: center;
}

.textbox .text-box button:hover {
  background: rgb(238, 192, 123);
}

/* ukuran tablet*/
/* @media screen and (max-width: 768px) {
nav ul {
width: 50%;
}
}
*/
/* ukuran mobile*/
@media screen and (max-width: 576px) {
  nav {
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  .menu-toogle {
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    background-color: rgb(231, 159, 24);

    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul.slide {
    opacity: 1;
    z-index: -1;
    transform: translateX(0);
  }

  .textbox {
    /* background-color: black; */
    width: 100%;
    justify-content: center;
  }
}
